<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- DebugActivity video picker permissions. -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application>
        <activity
            android:name=".ui.debug.DebugActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WayToFix.Training" />

        <activity
            android:name="com.movit.debug.MovitDesignSystemCatalogActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WayToFix" />

        <activity
            android:name="com.movit.debug.MovitExplorePilotActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WayToFix" />

        <activity
            android:name="com.movit.debug.MovitShellPilotActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WayToFix" />
    </application>

</manifest>
